# Node.js  
# Build a general Node.js project with npm.  
# Add steps that analyze code, save build artifacts, deploy, and more:  
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript  
  
trigger:  
- master  
  
pool:
  vmImage: ubuntu-latest
  
steps:  

- task: Npm@1  
  displayName: 'npm install'  
  inputs:  
    verbose: false  

- task: Npm@1  
  displayName: Build  
  inputs:  
    command: custom  
    verbose: false  
    customCommand: 'run ng build'  

  
- task: CopyPublishBuildArtifacts@1  
  displayName: 'Copy Publish Artifact: angular10'  
  inputs:  
    CopyRoot: dist  
    Contents: '**'  
    ArtifactName: test  
    ArtifactType: Container  
  

- task: Docker@0
  displayName: 'Build an image'
  inputs:
    containerregistrytype: 'Azure Container Registry'
    azureSubscription: 'Visual Studio-MariemKh-001 (135ef5ea-7239-433e-a3f3-a3721838f137)'
    azureContainerRegistry: '{"loginServer":"webappcontainermeraianass.azurecr.io", "id" : "/subscriptions/135ef5ea-7239-433e-a3f3-a3721838f137/resourceGroups/MeraiAnassRG/providers/Microsoft.ContainerRegistry/registries/WebAppContainerMeraiAnass"}'
    action: 'Build an image'
    dockerFile: '**/Dockerfile'
    imageName: '$(Build.Repository.Name):$(Build.BuildId)'

- task: Docker@0
  displayName: 'Push an image'
  inputs:
    containerregistrytype: 'Azure Container Registry'
    azureSubscription: 'Visual Studio-MariemKh-001 (135ef5ea-7239-433e-a3f3-a3721838f137)'
    azureContainerRegistry: '{"loginServer":"webappcontainermeraianass.azurecr.io", "id" : "/subscriptions/135ef5ea-7239-433e-a3f3-a3721838f137/resourceGroups/MeraiAnassRG/providers/Microsoft.ContainerRegistry/registries/WebAppContainerMeraiAnass"}'
    action: 'Push an image'
    imageName: '$(Build.Repository.Name):$(Build.BuildId)'